Repository gbdev/rgbds, pull requests merged in 2021-10, with the labels that each got.

#887 Reword label definition docs
  src/asm/rgbasm.5
Labels: docs, refactoring

#931 Implement -Wtruncation=level
  include/asm/warning.h
  src/asm/opt.c
  src/asm/rgbasm.1
  src/asm/rpn.c
  src/asm/warning.c
  test/asm/warn-truncation.asm
  test/asm/warn-truncation.err
  test/asm/warn-truncation.out
Labels: enhancement, rgbasm

#921 Added scramble flags to RGBLINK.
  contrib/zsh_compl/_rgblink
  include/link/main.h
  src/link/assign.c
  src/link/main.c
  src/link/rgblink.1
Labels: enhancement, rgblink

#895 added simple and ugly completion script for rgbasm
  README.rst
  contrib/bash_compl/_rgbasm.bash
  contrib/checkdiff.bash
Labels: enhancement, meta
