Repository gbdev/rgbds, pull requests merged in 2021-11, with the labels that each got.

#720 Implement ! for negating condition codes
  src/asm/parser.y
  src/gbz80.7
  test/asm/ccode.asm
  test/asm/ccode.err
  test/asm/ccode.out
  test/asm/ccode.out.bin
Labels: enhancement, rgbasm

#939 Small updates to documentation wording
  src/asm/rgbasm.1
  src/asm/rgbasm.5
Labels: docs, rgbasm

#935 Implement -Wnumeric-string[=0|1|2]
  include/asm/section.h
  include/asm/warning.h
  src/asm/parser.y
  src/asm/rgbasm.1
  src/asm/section.c
  src/asm/warning.c
  src/link/main.c
  test/asm/db-dw-dl-string.asm
  test/asm/db-dw-dl-string.err
  test/asm/if@-no-sect.err
  test/asm/multiple-charmaps.err
  test/asm/warn-numeric-string.asm
  test/asm/warn-numeric-string.err
  test/asm/warn-numeric-string.out
Labels: enhancement, rgbasm

#940 Remove unused `#include "extern/utf8decoder.h"`
  src/asm/lexer.c
Labels: rgbasm, refactoring

#942 Deprecate `SET` in favor of `=`
  src/asm/parser.y
  src/asm/rgbasm.5
  test/asm/def.asm
  test/asm/symbol-override.asm
  test/link/all-instructions.asm
Labels: enhancement, rgbasm

#944 Implement compound assignment operators for mutable constants
  src/asm/lexer.c
  src/asm/parser.y
  src/asm/rgbasm.5
  src/asm/symbol.c
  test/asm/compound-assignment.asm
  test/asm/compound-assignment.err
  test/asm/compound-assignment.out
Labels: enhancement, rgbasm

#949 Refactor error reporting
  Makefile
  include/error.h
  include/extern/err.h
  include/gfx/main.h
  src/CMakeLists.txt
  src/asm/main.c
  src/asm/output.c
  src/asm/section.c
  src/asm/symbol.c
  src/asm/warning.c
  src/error.c
  src/extern/err.c
  src/gfx/gb.c
  src/gfx/main.c
  src/gfx/makepng.c
  src/hashmap.c
  src/link/assign.c
  src/link/main.c
  src/link/object.c
  src/link/output.c
  src/link/patch.c
  src/link/script.c
  src/link/section.c
  src/link/symbol.c
Labels: rgbasm, rgblink, rgbfix, rgbgfx, refactoring

#951 Allow underscores in gfx literals
  src/asm/lexer.c
  src/asm/rgbasm.5
  test/asm/underscore-in-numeric-literal.asm
  test/asm/underscore-in-numeric-literal.out.bin
Labels: enhancement, rgbasm

#946 Reword docs now that SET is deprecated
  include/asm/symbol.h
  src/asm/fstack.c
  src/asm/parser.y
  src/asm/rgbasm.5
  src/asm/symbol.c
Labels: docs, rgbasm

#953 Fix improperly terminated region name check
  src/link/main.c
Labels: bug, rgblink

#954 Turn the `readChars` macro into a `readInternal` function
  src/asm/lexer.c
Labels: rgbasm, refactoring
