Repository gbdev/rgbds, pull requests merged in 2022-10, with the labels that each got.

#1080 Parse GPL palettes, and fixes PSP palette parsing
  Makefile
  man/rgbgfx.1
  src/gfx/pal_spec.cpp
Labels: enhancement, rgbgfx

#1078 Comply with sym file spec
  Makefile
  src/CMakeLists.txt
  src/link/output.c
Labels: enhancement, rgblink

#1081 Parse HEX palettes
  man/rgbgfx.1
  src/gfx/pal_spec.cpp
Labels: enhancement, rgbgfx

#1084 Allow fixed-point constants to have unsigned range
  src/asm/lexer.c
  test/asm/fixed-point-magnitude.asm
  test/asm/fixed-point-magnitude.err
  test/asm/fixed-point-magnitude.out
  test/asm/opt-Q.err
Labels: enhancement, rgbasm

#1085 Fixed-point values can use all 32-Q magnitude bits
  src/asm/lexer.c
  test/asm/fixed-point-magnitude.asm
  test/asm/fixed-point-magnitude.err
  test/asm/fixed-point-magnitude.out
Labels: enhancement, rgbasm

#1086 Fixed-point functions can take specific precision
  include/asm/fixpoint.h
  man/rgbasm.5
  src/asm/fixpoint.c
  src/asm/parser.y
  test/asm/fixed-point-specific.asm
  test/asm/fixed-point-specific.err
  test/asm/fixed-point-specific.out
Labels: enhancement, rgbasm
